.hover-box-1 {
  .on-hover {
    @include transition();
    opacity: 0;
  }
  position: relative;
  &:hover {
    .on-hover {
      opacity: 1;
    }
  }
}

.height-limit-title {
  overflow: hidden;
  height: 25px;
  @include media-breakpoint-up(md) {
    height: 25px;
  }
}

.height-limit-text {
  overflow: hidden;
  height: 60px;
}

